{{define "error"}}
{{if eq .ErrorCode 1}}
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
  <div>
	{{.ErrorMessage}}
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
  </button>

</div>
{{else if eq .ErrorCode 2}}
<div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
  <div>
	{{.ErrorMessage}}
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
  </button>
</div>
{{else if eq .ErrorCode 3}}
<div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
    <div>
	    {{.ErrorMessage}}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{{else if eq .ErrorCode 4}}
<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
  <div>
	{{.ErrorMessage}}
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
{{end}}
{{end}}
