{{define "error"}}
{{if eq .ErrorCode 1}}
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
	{{.ErrorMessage}}
  </div>
</div>
{{else if eq .ErrorCode 2}}
<div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
	{{.ErrorMessage}}
  </div>
</div>
{{else if eq .Errorcode 3}}
<div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  <div>
	{{.ErrorMessage}}
  </div>
</div>
{{else if eq .Errorcode 4}}
<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
	{{.ErrorMessage}}
  </div>
</div>
{{end}}
{{end}}
