{{template "header" .PageTitle}}
{{template "navbar"}}
{{range .PageError}}
{{template "error" .}}
{{end}}
 <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="form-container">
        <h1 class="mb-4 text-center">Login</h1>
        <form action="/login" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-login">Login</button>
        </form>
      </div>
    </div>
  </div>
 </div>
</body>
</html>
