{{template "header"}}
{{template "navbar"}}
{{range .PageError}}
{{template "error" .}}
{{end}}
  <div class="container mt-4">
    <h1>Search Results</h1>
    {{range .Products}}
    <div class="card-deck">
      <div class="card-list result-item">
        <img src="{{.ProdImage}}" class="card-img-top product-img" alt="Product 1">
        <div class="card-body">
          <h5 class="card-title-list">{{.ProdName}}</h5>
          <p class="card-text-list">Description of product 1</p>
          <p class="card-text-list">Price: ${{.ProdPrice}}</p>
          <a href="/product?id={{.ProdID}}" class="btn btn-primary-list">View Details</a>
        </div>
      </div>
      {{end}}
  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{template "footer"}}
