{{template "header" .PageTitle}}
{{template "navbar"}}
{{range .PageError}}
{{template "error" .}}
{{end}}
   <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="form-container">
            <h1 class="mb-4 text-center">Register</h1>
            <form action="/register" method="post">
              <div class="mb-3">
                <label for="newUsername" class="form-label"
                  >New Username:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="newUsername"
                  name="newUsername"
                  required=""
                />
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label"
                  >New Password:</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                  required=""
                />
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label"
                  >Confirm Password:</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  required=""
                />
              </div>
              <button type="submit" class="btn btn-success btn-register">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
