{{template "header" .PageTitle}}
{{template "navbar"}}
{{range .PageError}}
{{template "error" .}}
{{end}}

   <div class="container mt-5 register-form-parent ">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="form-container">
            <h1 class="mb-4 text-center">Register</h1>
            <form class="needs-validation" action="/register" method="post" novalidate>
              <div class="mb-3">
                <label for="username" class="form-label"
                  >New Username:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required=""
                />
                <div class="invalid-feedback">
                  Please choose a username
                </div>
              <div class="mb-3">
                <label for="password" class="form-label"
                  >New Password:</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required=""
                />
                <div class="invalid-feedback">
                  Please choose a password
                </div>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label"
                  >Confirm Password:</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  required=""
                />
                <div class="invalid-feedback" id='passwordMatchError'>
                  Passwords do not match
                </div>
              </div>
              <button type="submit" id="submit" class="btn btn-success btn-register">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="alertContainer" class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <!-- Bootstrap alerts will be inserted here dynamically -->
  </div>
</div>
{{template "footer"}}

<script>
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  //Function to see if passwords match
  function passwordsMatch() {
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirmPassword').value;

      return password === confirmPassword;
    }

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()||!passwordsMatch()) {
        event.preventDefault()
        event.stopPropagation()
        document.getElementById('passwordMatchError').style.display = 'block';
      }

      form.classList.add('was-validated')
    }, false)
  })
    
})()
</script>


