@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

:root {
    --primary-color: #12372A;
    --secondary_1-color: #436850;
    --secondary_2-color: #ADBC9F;
    --neutral-color: #FBFADA;
}

html{
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    background-color: var(--neutral-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px; /* Height of the footer */
  }

html, body {
    height: 100%;
    margin: 0;
  }
.content {
    flex: 1;
  }

/* Customize the navbar background color */
.navbar-custom {
    background-color: var(--primary-color);
  }

  /* Customize the navbar text color */
  .navbar-custom .navbar-text {
    color: var(--neutral-color);
  }

  /* Customize the search text box background color */
  .search-textbox {
    background-color: var(--neutral-color);
    color: var(--primary-color);
    border-color: black;
  }

  /* Customize the search button background color */
  .search-button {
    background-color: var(--secondary_1-color);
    border-color: black;
    color: var(--neutral-color);
  }

  /* Customize the search button hover color */
  .search-button:hover {
    background-color: var(--secondary_2-color);
    border-color: black;
  }

  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 20;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: -1rem;
    margin-left: 15%;
    background-color: var(--secondary_1-color);
  }

/* Customize the form button color */
.btn-login {
  background-color: var(--primary-color);
  color: var(--neutral-color);
  border-color: black;
}

/* Customize the form button hover color */
.btn-login:hover {
  background-color: var(--secondary_2-color);
  border-color: black;
  color: black;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.shorter-form {
  max-width: 35em; /* Set the maximum width for the form */
  width: 100%;
  margin: auto; /* Center the form horizontally within the container */
}

/* Customize the form background color */
.form-container {
  background-color: var(--secondary_1-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Customize the form text color */
.form-label {
  color: var(--neutral-color);
}

.mb-4 {
  color: var(--neutral-color);
}

/* Position the register button at the bottom right corner of the form */
.login_register_button {
  background-color: var(--primary-color);
  color: var(--neutral-color);
  margin-left: auto;
  border-color: black;
}

.login_register_button:hover {
  background-color: var(--secondary_2-color);
  border-color: black;
  color: black;
}

  /* Customize the form button color */
  .btn-register {
    background-color: var(--primary-color);
    border-color: black;
  }

  /* Customize the form button hover color */
  .btn-register:hover {
    background-color: var(--secondary_2-color);
    border-color: black;
  }

  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--neutral-color);
    padding: 20px 0;
  }

  .footer a {
    color: var(--neutral-color);
    text-decoration: none;
  }

  .footer a:hover {
    color: var(--secondary_2-color);
  }

  /* Customize the carousel control arrows */
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    height: auto;
    z-index: 10;
  }

  .carousel-control-prev {
    left: -5%;
  }

  .carousel-control-next {
    right: -5%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black;
  }

.btn-custom {
    background-color: var(--primary-color);
    border-color: black;
    color: var(--neutral-color);
}

.btn-custom:hover {
    background-color: var(--secondary_1-color);
    border-color: black;
}

.form-custom-border {
    border-color: var(--primary-color);
}

.nutritional-label, .description-header {
    font-weight: bold;
    color: var(--primary-color);
}

.allergen-buttons {
  max-height: 300px; /* Adjust the max-height as needed */
  overflow-y: auto;
}

.product-carousel-item {
  text-align: center;
}

.custom-card-2 {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Custom CSS to adjust carousel height */
.carousel-item img {
    height: 70vh; /* Set the height to half of the viewport height */
    object-fit: cover; /* Ensure the image covers the entire slide */
  }
  /* Add your custom styles here */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

/* Make the image square */
.square-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
  }

/* Customize the price */
.price {
    font-size: 36px;
    font-weight: bold; /* Make the price bold */
    color: black; /* Set the color to black */
  }
